#archive

	.post-list
		padding: 0
		.post-item
			list-style-type: none
			margin-right: 0
			margin-bottom: 1rem
			.meta
				display: block
				font-size: 14px
				color: #666
				min-width: 100px
				margin-left: 16px


	@media (min-width: 480px)
		.post-list
			.post-item
				display: flex
				margin-right: 1rem
				margin-bottom: 5px
				.meta
					text-align: right
